@font-face {
   font-family: 'Technoma';
   font-display: swap;
   src: url('file:///C:/Users/thekaushikls/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-03-06_112833/fonts/Technoma/font.otf');
}
