# Runs on push to main / release, manual trigger,
# and every Friday at 11:00 UTC | 12:00 CET | 16:30 IST
name: release_ci

on:
  push:
    branches:
      - "release"
  schedule:
    - cron: "0 11 * * 5"
  workflow_dispatch:

jobs:
  check_changes:
    name: Check Changes
    runs-on: ubuntu-latest
    outputs:
      any_changed: ${{steps.changed-files.outputs.any_changed}}
      version: ${{steps.set_version.outputs.version}}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3.3.0
        with:
          fetch-depth: 0
        
      - name: Changed Files
        uses: tj-actions/changed-files@v35.5.6
        id: changed-files
        with:
          files: Source/Catsule.csproj

      - name: Fail Job
        if: ${{steps.changed-files.outputs.any_changed == 'false'}}
        run: |
          echo "::error title=âŒ No Version Update::No changes in version tag was detected"
          echo No change in version detected.
          echo Exiting workflow.
          exit 1

      - name: Install Python
        if: ${{steps.changed-files.outputs.any_changed == 'true'}}
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      
      - name: Update Version
        run: python Scripts/update_version.py
      
      - name: Set Version
        id: set_version
        run: |
          echo VersionInfo: ${{ env.VERSION }}
          echo PackageName: Catsule-v${{ env.VERSION }}
          echo "version=${{ env.VERSION }}" >> "$GITHUB_OUTPUT"
      
  build_plugin:
    name: Build Plugin
    runs-on: windows-latest
    permissions:
      contents: write
    needs: [check_changes]

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3.3.0

      - name: Setup MsBuild
        uses: microsoft/setup-msbuild@v1

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1
        
      - name: Restore NuGet Packages
        run: nuget restore Source/Catsule.sln

      - name: Build Solution
        run: msbuild Source/Catsule.sln /p:Configuration=Release

      - name: Create Archive
        uses: TheDoctor0/zip-release@0.7.1
        with: 
          type: 'zip'
          directory: Source/bin/Release/net48/
          filename: Catsule-v${{ needs.check_changes.outputs.version }}.zip
      
      - name: Deploy Release
        uses: ncipollo/release-action@v1.12.0
        with:
          name: Catsule-v${{ needs.check_changes.outputs.version }}
          tag: v${{ needs.check_changes.outputs.version }}
          artifacts: Source/bin/Release/net48/Catsule-v${{ needs.check_changes.outputs.version }}.zip
          makeLatest: true
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}
